*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 50px 200px;
    background: rgba(255, 144, 14, 0.10);


}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
    
}


.menu ul{
    display: flex;
    list-style: none;
   
   
}
.menu a{
    text-decoration: none;
    margin-right: 30px;
    
}
.logo h1{
    color: var(--Dark-01, #131313);


font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.header-title h1{
color: var(--Dark-01, #131313);
text-align: center;
font-size: 54px;
font-weight: 700;
}
.header-title p{
 color: var(--Dark-03, #727272);
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 10px;
}
.header-title button{
    border-radius: 8px;
background: #FF900E;
width: 140px;
height: 50px;
flex-shrink: 0;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
border: none;
margin: 20px 0;

}
.header-title{
    text-align: center;
}
.header-img img{
    width: 100%;
}

.feature-section{
    display: flex;
    padding: 50px 240px;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.feature-img{
    display: flex;
    justify-content: end;
    width: 400px;

    margin-left: 100px;
    
}
.feature-titel h3{
    color: var(--Dark-03, #727272);

font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
}
.feature-img img{
    width: 100%;
    
}
.feature-titel{
    width: 50%;
    
    
}
.feature-titel span{
    color: #FF900E;
    font: bold;
}


.feature-titel p{
    color: var(--Dark-03, #727272);
font-size: 16px;
font-weight: 400;
}

.enjoy-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 70%;
    margin: auto;
    margin-top: 100px;

}
.enjoy-section .left-section{
    width: 50%;
}
.enjoy-section img{
    width: 90%;
}
.enjoy-section .right-section{
    width: 50%;
    text-align: end;
    
}


.enjoy-titel h3{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
padding-left: 40px;
border-left: #FF900E 5px solid;
margin-bottom: 10px;
}
.enjoy-titel p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 50px;
}
.enjoy-dis h5{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}
.enjoy-dis p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.ex1, .ex2, .ex3{
    margin-bottom: 20px;
}

.fact-section {
    width: 75%;
    margin: auto;
    margin-top: 100px;
}

.fact-titel h3{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
padding-left: 20px;
border-left: #FF900E 5px solid;
margin-bottom: 10px;
}
.fact-titel p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 50px;
}

.facts{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.fact{
    border: 1px salmon solid;
    height: 220px;
    width: 230px;
    display: grid;
    align-items: center;
    border-radius: 10px;    

}
.m img{
    margin-bottom: 10px;
    width: 60px;
}
.m h3{
    color: var(--Dark-02, #424242);
text-align: center;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.m p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sponspor-section{
    
    width: 75%;
    margin: auto;
    margin-top: 100px;
}
.sponspor-titel h3{
    text-align: center;
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
padding-left: 20px;
margin-bottom: 10px;
}
.sponspor-titel p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 50px;
text-align: center;
}

.sponspors{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.sponspors img{
    width: 70%;
}

footer{
    
    text-align: center;
    width: 75%;
    background-color: #FF900E;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 30px ;
    border-radius: 8px;
background: #ffecd5;
}

footer p{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




@media screen and (max-width:1000px) {
    header{
        padding: 20px 5px;
    }
    nav{
        flex-direction: column;
        text-align: center;
    }
    .menu{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .feature-section{
        flex-direction: column-reverse;
        padding: 10px 10px;
        text-align: center;
        margin-top: 30px;
    }
    .feature-section p{
        padding: 0;
        
    }
    .feature-titel{
        padding: 0;
        margin: 0;
    }
    .feature-img{
        padding: 0;
        margin: 20px 0;
    }
    .enjoy-section{
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        margin-top: 200px;
        text-align: center;
        width: 100%;
    }
    .enjoy-section .enjoy-dis, .enjoy-titel{
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .enjoy-section .ex1, .ex2, .ex3{
        padding: 0;
        margin: 0;
        margin-top: 60px;
    }
    .enjoy-section .left-section{
    width: 80%;
}
.facts{
    flex-direction: column;

}
.fact{
    margin-bottom: 40px;
}
.sponspors{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    margin: auto;

}
.sponspor-section{
    text-align: center;
  
}
.sponspor{
 margin-bottom: 30px;
 width: 50%;
 margin: auto;
 margin-bottom: 50px;
}
 
}